{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Promo</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
 
    <style>
        .navbar {
            background-color: #f8f9fa;
        }
   
        .navbar-brand {
            font-weight: bold;
        }
   
        .navbar-nav .nav-link {
            color: #007bff;
        }
   
       
   
        .btn-primary {
            background-color: #81bae7;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            align-self: center;
        }
   
        .btn-primary:hover {
            background-color: #0056b3;
        }
   
        .form-inline .form-control {
            width: auto;
        }
        .auto-width-select {
           width: auto;
           min-width: 150px; 
           max-width: 100%;
           white-space: nowrap;
        }
        h1, h2 {
            color: #0056b3;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 200%;
            text-align: center;
           
        }
   
        
   
        .btn-sm {
            padding: 5px 10px;
        }
   
        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }
   
        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }
   
        .btn-warning {
            background-color: #ffc107;
            border-color: #ffc107;
            color: #212529;
        }
   
        .btn-warning:hover {
            background-color: #e0a800;
            border-color: #d39e00;
            color: #212529;
        }
   
        .mt-4 {
            margin-top: 1.5rem;
        }
   
        .float-right {
            float: right;
        }
        .table{
           --bs-table-bg:none;
        }
        th {
           background-color: #2262c6;
           color: #fff;
           
       }
    </style>
   </head>
   
   
   <body>
   
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="{% static 'images/download.jpeg' %}" alt="Logo" style="width: 200px; height: 60px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'home' %}">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Users</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'users' %}">Info Users</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'home_groupe' %}">User Groupe</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Clients</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'home_client' %}">Info Client</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'home_client_status' %}">Statut des Client</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'home_target' %}">Client target</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'home_discounts' %}">Client discount</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'home_channel' %}">Channels</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'devices' %}">Devices</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Routes</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'routes' %}">Routes</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'affectation_routes_users' %}">Affectation Routes-Users</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'affectation_clients_routes' %}">Affectation Routes-Clients</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Promotions</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'promotions' %}">Promotions</a></li>
    
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'assign_promotions' %}">Assign Promotions</a></li>
    
                        <li><hr class="dropdown-divider"></li>
    
                        <li><a class="dropdown-item" href="{% url 'define_basket' %}">Define Basket</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'login' %}">Login</a>
                </li>
            </ul>
        </div>
    </nav>

<body>


    <div class="d-flex justify-content-right mb-4">  
        <a href="#" data-bs-toggle="modal" data-bs-target="#addPromotionModal" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>   
            Add Promotion
        </a>
    </div>
    <h2>Promotion Headers</h2>

    <!-- Promotion list table -->
    <table class="table" id="promotionList">
        <thead>
            <tr style="background-color:#2262c6;">
                <th class="text-white">Promotion Code</th>
                <th class="text-white">Promotion description</th>
                <th class="text-white">type</th>
                <th class="text-white">Start Date</th>
                <th class="text-white">End Date</th>
                <th class="text-white">Forced</th>
                <th class="text-white">Active</th>
                <th class="text-white">priority</th>
                <th class="text-white">apply</th>
                <th class="text-white">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for promotion in promotions %}
            <tr>
                <td>{{ promotion.promotion_id }}</td>
                <td>{{ promotion.promotion_description }}</td>
                <td>{{ promotion.promotion_type }}</td>
                <td>{{ promotion.start_date }}</td>
                <td>{{ promotion.end_date }}</td>
                <td>{{ promotion.is_forced }}</td>
                <td>{{ promotion.is_active }}</td>
                <td>{{ promotion.priority }}</td>
                <td>{{ promotion.promotion_apply }}</td>
                <td>
                    <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#promoDetailsModal" data-promotion-id="{{ promotion.promotion_id }}">
                        <i class="fas fa-eye"></i>
                    </button>
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editPromotionModal" data-basket-id="{{ promotion.basket.item_basket_id }}" data-promotion-id="{{ promotion.promotion_id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                    </a>
                    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePromotionModal" data-promotion-id="{{ promotion.promotion_id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1h-11a1 1 0 0 1-1-1h12z"/>
                            <path fill-rule="evenodd" d="M1 4.5v-1h14v1H1zm3.5-.5v9.5h7V4h-7z"/>
                            <path d="M7.5 1v2h-1V1h1z"/>
                        </svg>
                    </a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
<!-- Add Promotion Modal -->
<div class="modal fade" id="addPromotionModal" tabindex="-1" aria-labelledby="addPromotionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPromotionModalLabel">Add Promotion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="promotionForm" method="post" action="{% url 'create_promotion' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Promotion Form Fields -->
                            <div class="mb-3">
                                <label for="id_promotion_description" class="form-label">Description</label>
                                {{ form.promotion_description }}
                            </div>
                            <div class="mb-3">
                                <label for="id_promotion_type" class="form-label">Type</label>
                                {{ form.promotion_type }}
                            </div>
                            <div class="mb-3">
                                <label for="id_start_date" class="form-label">Start Date</label>
                                {{ form.start_date }}
                            </div>
                            <div class="mb-3">
                                <label for="id_end_date" class="form-label">End Date</label>
                                {{ form.end_date }}
                            </div>
                            <div class="mb-3">
                                <label for="id_is_forced" class="form-label">Is Forced</label>
                                {{ form.is_forced }}
                            </div>
                            <div class="mb-3">
                                <label for="id_is_active" class="form-label">Is Active</label>
                                {{ form.is_active }}
                            </div>
                            <div class="mb-3">
                                <label for="id_priority" class="form-label">Priority</label>
                                {{ form.priority }}
                            </div>
                            <div class="mb-3">
                                <label for="id_promotion_apply" class="form-label">Promotion Apply</label>
                                {{ form.promotion_apply }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="basket" class="form-label">Basket</label>
                                <input type="hidden" class="form-control" id="basket_id" name="basket">
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#findBasketModal">
                                    Find
                                </button>
                            </div>
                            <div class="mb-3">
                                <label for="id_quantity_buy" class="form-label">Quantity to Buy</label>
                                {{ detail_form.quantity_buy }}
                            </div>
                            <div class="mb-3">
                                <label for="id_types_buy" class="form-label">Type of Buy</label>
                                {{ detail_form.types_buy }}
                            </div>
                            <div class="mb-3">
                                <label for="id_quantity_get" class="form-label">Quantity to Get</label>
                                {{ detail_form.quantity_get }}
                            </div>
                            <div class="mb-3">
                                <label for="id_types_get" class="form-label">Type of Get</label>
                                {{ detail_form.types_get }}
                            </div>
                        </div>
                    </div>
                    <!-- Form Buttons -->
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Add Promotion</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Promotion Modal -->
<div class="modal" tabindex="-1" id="editPromotionModal">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editPromotionForm" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="promotion_id" class="form-label">Promotion ID</label>
                                <input type="text" class="form-control" id="promotion_id" name="promotion_id" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="promotion_description" class="form-label">Description</label>
                                {{ form.promotion_description }}
                            </div>
                            <div class="mb-3">
                                <label for="promotion_type" class="form-label">Type</label>
                                {{ form.promotion_type }}
                            </div>
                            <div class="mb-3">
                                <label for="start_date" class="form-label">Start Date</label>
                                {{ form.start_date }}
                            </div>
                            <div class="mb-3">
                                <label for="end_date" class="form-label">End Date</label>
                                {{ form.end_date }}
                            </div>
                            <div class="mb-3">
                                <label for="is_forced" class="form-label">Is Forced</label>
                                {{ form.is_forced }}
                            </div>
                            <div class="mb-3">
                                <label for="is_active" class="form-label">Is Active</label>
                                {{ form.is_active }}
                            </div>
                            <div class="mb-3">
                                <label for="priority" class="form-label">Priority</label>
                                {{ form.priority }}
                            </div>
                            <div class="mb-3">
                                <label for="promotion_apply" class="form-label">Promotion Apply</label>
                                {{ form.promotion_apply }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="basket" class="form-label">Basket</label>
                                <input type="hidden" class="form-control" id="basket_id" name="basket2">
                                <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#findBasketModal">
                                    Find
                                </button>
                            </div>
                            <div class="mb-3">
                                <label for="quantity_buy" class="form-label">Quantity Buy</label>
                                {{ detail_form.quantity_buy }}
                            </div>
                            <div class="mb-3">
                                <label for="types_buy" class="form-label">Types Buy</label>
                                {{ detail_form.types_buy }}
                            </div>
                            <div class="mb-3">
                                <label for="quantity_get" class="form-label">Quantity Get</label>
                                {{ detail_form.quantity_get }}
                            </div>
                            <div class="mb-3">
                                <label for="types_get" class="form-label">Types Get</label>
                                {{ detail_form.types_get }}
                            </div>
                        </div>
                    </div>
                    <!-- Form Buttons -->
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Delete Promotion Modal -->
<div class="modal fade" id="deletePromotionModal" tabindex="-1" aria-labelledby="deletePromotionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePromotionModalLabel">Delete Promotion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this promotion?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <form id="deletePromotionForm" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="deletePromotionId">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Find Basket Modal -->
<div class="modal fade" id="findBasketModal" tabindex="-1" aria-labelledby="findBasketModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="findBasketModalLabel">Select Basket</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Display existing baskets in a table -->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Basket ID</th>
                            <th>Basket Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for basket in baskets %}
                        <tr>
                            <td>{{ basket.item_basket_id }}</td>
                            <td>{{ basket.item_basket_description }}</td>
                            <td>
                                <input type="radio" name="selected_basket" value="{{ basket.item_basket_id }}" data-id="{{ basket.item_basket_id }}" data-name="{{ basket.item_basket_description }}">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" id="selectBasketButton">Select</button>
            </div>
        </div>
    </div>
</div>

<!-- Promotion Details Modal -->
<div class="modal fade" id="promoDetailsModal" tabindex="-1" aria-labelledby="promoDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="promoDetailsModalLabel">Promotion Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Basket</th>
                            <th>Quantity Buy</th>
                            <th>Types Buy</th>
                            <th>Quantity Get</th>
                            <th>Types Get</th>
                        </tr>
                    </thead>
                    <tbody id="promoDetailsTableBody">
                        <!-- Promotion details will be inserted here by JavaScript -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
        document.addEventListener('DOMContentLoaded', function () {
            var modal = document.getElementById('editPromotionModal');
            
            modal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;
                var promotionId = button.getAttribute('data-promotion-id');
                var form = modal.querySelector('#editPromotionForm');
                
                if (promotionId) {
                    fetch(`/promotions/${promotionId}/data/`)
                        .then(response => response.json())
                        .then(data => {
                            console.log('Promotion data received:', data);
                            if (form) {
                                const fields = {
                                    'promotion_id': 'input',
                                    'promotion_description': 'input',
                                    'promotion_type': 'select',
                                    'start_date': 'input',
                                    'end_date': 'input',
                                    'is_forced': 'input[type="checkbox"]',
                                    'is_active': 'input[type="checkbox"]',
                                    'priority': 'input',
                                    'promotion_apply': 'select',
                                    'quantity_buy': 'input',
                                    'types_buy': 'select',
                                    'quantity_get': 'input',
                                    'types_get': 'select'
                                };
                                
                                for (const [field, selector] of Object.entries(fields)) {
                                    const element = form.querySelector(`${selector}[name="${field}"]`);
                                    if (element) {
                                        if (selector === 'input[type="checkbox"]') {
                                            element.checked = data[field];  
                                        } else {
                                            element.value = data[field] || '';
                                        }

                                    } else {
                                        console.warn(`Field ${field} not found in the form.`);
                                    }
                                }
                            } else {
                                console.error('Form not found in the modal.');
                            }
                        })
                        .catch(error => console.error('Error fetching promotion data:', error));
                        
                    // Update the form action URL for editing the promotion
                    if (form) {
                        form.action = `/promotions/${promotionId}/edit/`;
                    }
                } else {
                    console.error('Promotion ID not found.');
                }
            });
        });
        document.addEventListener('DOMContentLoaded', function () {
    var deletePromotionModal = document.getElementById('deletePromotionModal');
    
    deletePromotionModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var promotionId = button.getAttribute('data-promotion-id');
        
        var deleteInput = document.getElementById('deletePromotionId');
        if (deleteInput) {
            deleteInput.value = promotionId;
        } else {
            console.error('Delete input field not found');
        }

        var form = document.getElementById('deletePromotionForm');
        if (form) {
            form.action = `/promotions/delete/${promotionId}/`;
        } else {
            console.error('Delete form not found');
        }
    });
});

document.addEventListener('DOMContentLoaded', function () {
    var promoDetailsModal = document.getElementById('promoDetailsModal');

    promoDetailsModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget;
        var promotionId = button.getAttribute('data-promotion-id');

        // Charger les détails de la promotion
        fetch(`/promotions/${promotionId}/details/`)
            .then(response => response.json())
            .then(data => {
                var tableBody = document.getElementById('promoDetailsTableBody');
                tableBody.innerHTML = ''; 

                data.promo_details.forEach(detail => {
                    var row = document.createElement('tr');
                    row.innerHTML = `
                        <td>${detail.basket}</td>
                        <td>${detail.quantity_buy}</td>
                        <td>${detail.types_buy}</td>
                        <td>${detail.quantity_get}</td>
                        <td>${detail.types_get}</td>
                    `;
                    tableBody.appendChild(row);
                });
            })
            .catch(error => console.error('Error fetching promo details:', error));
    });
});

document.addEventListener('DOMContentLoaded', function () {
    var findBasketModal = document.getElementById('findBasketModal');
    var selectBasketButton = document.getElementById('selectBasketButton');
    var basketInput = document.getElementById('basket_id'); // Assurez-vous que l'ID correspond à votre champ
    var basketNameDisplay = document.getElementById('selectedBasketName');
    
    
    selectBasketButton.addEventListener('click', function () {
        var selectedBaskets = Array.from(findBasketModal.querySelectorAll('input[name="selected_basket"]:checked'));
        if (selectedBaskets.length > 0) {
            var selectedBasket = selectedBaskets[0];
            basketInput.value = selectedBasket.value; // Mise à jour de la valeur de l'input
            console.log( basketInput.value);           
            var bootstrapModal = bootstrap.Modal.getInstance(findBasketModal);
            bootstrapModal.hide();
        } else {
            alert('Please select a basket.');
        }
    });
});

    </script>
    

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
