{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    
    <style>
        .navbar {
            background-color: #f8f9fa;
        }

        .navbar-brand {
            font-weight: bold;
        }

        .navbar-nav .nav-link {
            color: #007bff;
        }

        .btn-primary {
            background-color: #81bae7;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            align-self: center;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .form-inline .form-control {
            width: auto;
        }

        .auto-width-select {
            width: auto;
            min-width: 150px;
            max-width: 100%;
            white-space: nowrap;
        }

        h1, h2 {
            color: #0056b3;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 200%;
            text-align: center;
        }

        .btn-sm {
            padding: 5px 10px;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }

        .btn-warning {
            background-color: #ffc107;
            border-color: #ffc107;
            color: #212529;
        }

        .btn-warning:hover {
            background-color: #e0a800;
            border-color: #d39e00;
            color: #212529;
        }

        .mt-4 {
            margin-top: 1.5rem;
        }

        .float-right {
            float: right;
        }

        .table {
            --bs-table-bg: none;
        }

        th {
            background-color: #2262c6;
            color: #fff;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/download.jpeg' %}" alt="Logo" style="width: 200px; height: 60px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Users</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'users' %}">Info Users</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'home_groupe' %}">User Groupe</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Clients</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'home_client' %}">Info Client</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'home_client_status' %}">Statut des Client</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'home_target' %}">Client target</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'home_discounts' %}">Client discount</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'home_channel' %}">Channels</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'devices' %}">Devices</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Routes</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'routes' %}">Routes</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'affectation_routes_users' %}">Affectation Routes-Users</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'affectation_clients_routes' %}">Affectation Routes-Clients</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Promotions</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'promotions' %}">Promotions</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'assign_promotions' %}">Assign Promotions</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'define_basket' %}">Define Basket</a></li>
                </ul>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Bonjour, {{ user.username }}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<h1 class="mb-4">List Clients Discounts</h1>
   
<div class="d-flex justify-content-right mb-4">
      
    <a href="#" data-bs-toggle="modal" data-bs-target="#uploadModal" class="btn btn-secondary me-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
            <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708z"/>
        </svg>  Excel
            
    </a>

       
    <a href="#" data-bs-toggle="modal" data-bs-target="#uploadClientDiscount"  class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
        </svg>    Add Client

    </a>
</div>

<div class="container-fluid ">    
    <div class="d-flex justify-content-center align-items-center mb-4">
        <form method="post" action="{% url 'search_client_discount' %}" class="d-flex">
            {% csrf_token %}
            
            <select name="search_by" class="form-control mr-2">
                <option value="Client_Code">Client Code</option>
            </select>
            <input type="text" class="form-control mr-2" name="query" placeholder="Search Client">
            <button type="submit" class="btn btn-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
            </button>
            </button>
        </form>
    </div>
</div>
    
 <hr class="my-4">
   
    {% if clients %}
    <div class="mt-4">
        <h2>Search results</h2>
        <form method="post" action="{% url 'delete_selected_clients' %}">
            <button type="submit" class="btn btn-danger mt-3 float-left">Delete Selected</button>
            {% csrf_token %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="background-color: #2262c6;"><input type="checkbox" id="select-all"></th>
                        <th style="background-color: #2262c6;">Client Code</th>
                        <th style="background-color: #2262c6;">Trx_Code</th>
                        <th style="background-color: #2262c6;">Discounts</th>
                        <th style="background-color: #2262c6;">Month</th>
                        <th style="background-color: #2262c6;">Years</th>
                        <th style="background-color: #2262c6;">Discounts label</th>
                        <th style="background-color: #2262c6;">Applied</th>
                        <th style="background-color: #2262c6;">Stamp_Date</th>
                        <th style="background-color: #2262c6;">Affected item code</th>
                        <th style="background-color: #2262c6;">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for client in clients %}
                    <tr>
                        <td><input type="checkbox" class="client-checkbox" name="client_ids" value="{{ client.Client_Code }}"></td>
                        <td>{{ client.Client_Code }}</td>
                        <td>{{ client.Trx_Code }}</td>
                        <td>{{ client.Discounts }}</td>
                        <td>{{ client.Month }}</td>
                        <td>{{ client.Years }}</td>
                        <td>{{ client.Discounts_label }}</td>
                        <td>{{ client.Applied }}</td>
                        <td>{{ client.Stamp_Date }}</td>
                        <td>{{ client.Affected_item_code }}</td>
                        <td>
                            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editDiscount" data-client-statut-id="{{ client.Client_Code }}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>
                            </a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
    {% elif query %}
    <div class="mt-4">
        <p>No clients match this client code.</p>
    </div>
    {% endif %}
</div>

    
<div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadModalLabel">Upload Excel</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'upload_excel_discount' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="xlxfile" class="form-label">Choose Excel file</label>
                        <input type="file" class="form-control" id="xlxfile" name="xlxfile" accept=".xlsx, .xlsm">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
   
<div class="modal fade" id="uploadClientDiscount" tabindex="-1" aria-labelledby="uploadClientDiscountLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadClientDiscountLabel">Add Client Discounts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'client_discounts' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                
                <div class="modal-body">
                    <div class="mb-3">
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            <div class="mb-3">                               
                                <label for="{{ field.id_for_label }}" class="form-label">
                                    {{ field.label }}
                                </label>                                                             
                                {{ field }}                                                               
                                {{ field.errors }}                                                                
                                <small class="form-text text-muted">{{ field.help_text }}</small>
                            </div>
                        {% endfor %}
                    </div>
                    {% if error_message %}
                        <div class="alert alert-danger mt-3">{{ error_message }}</div>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="editDiscount" tabindex="-1" aria-labelledby="editDiscountLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDiscountLabel">Edit Client Discount</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="statutForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="mb-3">
                        {{ form.instance.client_code }}
                    </div>
                    <div class="mb-3">
                        {{ form.as_p }}
                        {% if error_message %}
                            <div class="alert alert-danger mt-3">{{ error_message }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modal = document.getElementById('editDiscount'); 

        modal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; 
            var Client_Code = button.getAttribute('data-client-statut-id'); 
            console.log(Client_Code)
            var form = modal.querySelector('#statutForm'); 

        
            if (Client_Code) {
                fetch(`/clientDiscount/${Client_Code}/data/`)
                .then(response => response.json())
                .then(data => {
                    console.log('Client Discounts  data received:', data);

                    if (form) {
                    
                        const fields = {
                           
                            'Client_Code': 'input',
                            'Discounts': 'input',
                            'Month': 'input',
                            'Years': 'input',
                            'Discounts_label': 'input',
                            'Affected_item_code': 'input',
                            'Stamp_Date': 'date',
                            
                        };
                    
                        for (const [field, type] of Object.entries(fields)) {
                            let element;

                            if (type === 'date') {
                                // Handle date inputs specifically
                                element = form.querySelector(input[type="${type}"][name="${field}"]);
                            } else {
                                // Handle other input types
                                 element = form.querySelector(`${type}[name="${field}"]`);
                            }
                                 
                
                            if (element) {
                                

                                if (element.type === 'date') {
                                    // Format date value correctly
                                    element.value = data[field] ? new Date(data[field]).toISOString().split('T')[0] : '';
                                } else {
                                    element.value = data[field] || '';
                                }
                            } else {
                                            console.warn(`Field ${field} not found in the form.`);
                                        }
                                    }
                                } else {
                                    console.error('Form not found in the modal.');
                                }
                })
                .catch(error => console.error('Error fetching client statut data:', error));
              
            form.action = `/client_discounts/${Client_Code}/edit/`;
            } else {
            console.error('Client_Code not found.');
            }
        })
    });


</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

<script>
    document.getElementById('select-all').onclick = function() {
        var checkboxes = document.querySelectorAll('.client-checkbox');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }
</script>

</body>
</html>
