{% include 'promotions/navbar.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Excel File</title>
    <!-- Inclure Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Style personnalisé */

        .form-container {
            max-width: 500px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #dee2e6;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    
    <div class="form-container">
        <h1 class="mb-4">Upload Excel File</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="xlxfile">Choose Excel file</label>
                <input type="file" class="form-control-file" id="xlxfile" name="xlxfile" accept=".xlsx, .xlsm">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    

</body>
</html>
