{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    
    <style>
        .navbar {
            background-color: #f8f9fa;
        }

        .navbar-brand {
            font-weight: bold;
        }

        .navbar-nav .nav-link {
            color: #007bff;
        }

        .btn-primary {
            background-color: #81bae7;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            color: white;
            cursor: pointer;
            align-self: center;
        }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        .form-inline .form-control {
            width: auto;
        }

        .auto-width-select {
            width: auto;
            min-width: 150px;
            max-width: 100%;
            white-space: nowrap;
        }

        h1, h2 {
            color: #0056b3;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 200%;
            text-align: center;
        }

        .btn-sm {
            padding: 5px 10px;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
        }

        .btn-danger:hover {
            background-color: #c82333;
            border-color: #bd2130;
        }

        .btn-warning {
            background-color: #ffc107;
            border-color: #ffc107;
            color: #212529;
        }

        .btn-warning:hover {
            background-color: #e0a800;
            border-color: #d39e00;
            color: #212529;
        }

        .mt-4 {
            margin-top: 1.5rem;
        }

        .float-right {
            float: right;
        }

        .table {
            --bs-table-bg: none;
        }

        th {
            background-color: #2262c6;
            color: #fff;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="{% static 'images/download.jpeg' %}" alt="Logo" style="width: 200px; height: 60px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Users</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'users' %}">Info Users</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'home_groupe' %}">User Groupe</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Clients</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'home_client' %}">Info Client</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'home_client_status' %}">Statut des Client</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'home_target' %}">Client target</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'home_discounts' %}">Client discount</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'home_channel' %}">Channels</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" href="{% url 'devices' %}">Devices</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Routes</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'routes' %}">Routes</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'affectation_routes_users' %}">Affectation Routes-Users</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'affectation_clients_routes' %}">Affectation Routes-Clients</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Promotions</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'promotions' %}">Promotions</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'assign_promotions' %}">Assign Promotions</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="{% url 'define_basket' %}">Define Basket</a></li>
                </ul>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" href="#" aria-expanded="false">Bonjour, {{ user.username }}</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link text-dark" href="{% url 'login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


<h1>Groups List</h1>

<div class="container">
    <form method="GET" action="" class="mb-4"></form>

    <table class="table table-striped">
        <thead style="background-color:#2262c6;">
            <tr>
                <th class="text-white">Code Groupe</th>
                <th class="text-white">Description</th>
                <th class="text-white">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for groupe in groupes %}
            <tr>
                <td>{{ groupe.Code_groupe }}</td>
                <td>{{ groupe.Groupe_description }}</td>
                <td>
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editGroupeModal" data-groupe-id="{{ groupe.Code_groupe }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                        </svg>
                    </a>
                    <a href="#" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteGroupeModal" data-groupe-id="{{ groupe.Code_groupe }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addGroupeModal">Ajouter un Groupe</a>
    <a href="{% url 'home' %}" class="btn btn-primary">Retour à la page d'accueil</a>
</div>

<!-- Modal pour ajouter un groupe -->
<div class="modal fade" id="addGroupeModal" tabindex="-1" aria-labelledby="addGroupeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addGroupeModalLabel">Ajouter un Groupe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'add_groupe' %}">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="id_Code_groupe" class="form-label">Code Groupe</label>
                        <input type="text" name="Code_groupe" class="form-control" id="id_Code_groupe" required>
                    </div>
                    <div class="mb-3">
                        <label for="id_Groupe_description" class="form-label">Description</label>
                        <input type="text" name="Groupe_description" class="form-control" id="id_Groupe_description" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour éditer un groupe -->
<div class="modal fade" id="editGroupeModal" tabindex="-1" aria-labelledby="editGroupeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editGroupeModalLabel">Éditer un Groupe</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editGroupeForm" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="editGroupeId">
                    <div class="mb-3">
                        <label for="edit_Code_groupe" class="form-label">Code Groupe</label>
                        <input type="text" name="Code_groupe" class="form-control" id="edit_Code_groupe" required>
                    </div>
                    <div class="mb-3">
                        <label for="edit_Groupe_description" class="form-label">Description</label>
                        <input type="text" name="Groupe_description" class="form-control" id="edit_Groupe_description" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal pour supprimer un groupe -->
<div class="modal fade" id="deleteGroupeModal" tabindex="-1" aria-labelledby="deleteGroupeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteGroupeModalLabel">Delete a Group</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this group? This action is irreversible.</p>
                <form id="deleteGroupeForm" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" id="deleteGroupeId">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    var editModal = document.getElementById('editGroupeModal'); 
    document.addEventListener('DOMContentLoaded', function () {
        editModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget; 
            var groupeId = button.getAttribute('data-groupe-id'); 
            console.log(groupeId);
            var form = editModal.querySelector('#editGroupeForm'); 

            if (groupeId) {
                fetch(`/groupes/${groupeId}/data/`)
                .then(response => response.json())
                .then(data => {
                    console.log('Groupe data received:', data);

                    if (form) {
                    
                        const fields = {
                            'Code_groupe': 'input',
                            'Groupe_description': 'input',
                        };
                    
                        for (const [field, type] of Object.entries(fields)) {
                            const element = form.querySelector(`${type}[name="${field}"]`);
                            if (element) {
                                console.log(data[field]);
                                element.value = data[field] || '';
                            } else {
                                console.warn(`Field ${field} not found in the form.`);
                            }
                        }
                    } else {
                        console.error('Form not found in the modal.');
                    }
                })
                .catch(error => console.error('Error fetching groupe data:', error));

                form.action = `/groupes/${groupeId}/edit/`;
            } else {
                console.error('Groupe ID not found.');
            }
        });
    });


    document.addEventListener('DOMContentLoaded', function () {
        var deleteGroupeModal = document.getElementById('deleteGroupeModal');
        deleteGroupeModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var groupeId = button.getAttribute('data-groupe-id');
            document.getElementById('deleteGroupeId').value = groupeId;
            var form = document.getElementById('deleteGroupeForm');
            form.action = `/groupes/${groupeId}/delete/`; 
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>
